body {
    
    background-image: url('/resources/alchemywall.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
    
}
#alchemy_img{
    margin-left: 50%;
    margin-top: 20%;
    position: fixed;
}

