#p2frontbody {
    
    background-image: url('/resources/wall2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
    
}
#p2leftbody {
    
    background-image: url('/resources/alchemywall.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
    
}

#p2rightbody {
    
    background-image: url('/resources/alchemywall.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
    
}
#p2backbody {
    
    background-image: url('/resources/wall2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
    
}

#p2boardbody {
    
    background-image: url('/resources/woodenBoard.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
    
}


#lever_img {
    margin-left: 70%;
    margin-top: 15%;
    position: fixed;
}

#img_door{
    margin-left: 300px;
    margin-top: 262px;
    position: fixed;
}

#chair_img {

    margin-top: 200px;
    margin-left: 750px;
}
#arrow_left{
    height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 200px; 
    margin-left: 0px;
    margin-top: 30%;
    position: absolute;
    left:5px;
    bottom: 100px;
}

#arrow_right{
    height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 200px; 
    position: absolute;
    right:5px;
    bottom: 100px;
}
#books_img {
    height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 200px; 
    margin-left: 20%;
    margin-top: 30%;

}

#board_img {
    
    margin-left: 60%;
    margin-top: 10%;

}
audio{
    display: none;
}

#bernardo{
	width: 200px; 
	height: 150px;
	
}
#arada{
	width: 200px; 
	height: 150px;
	
}
#guilherme{
	width: 200px; 
	height: 150px;
	
}
#deli{
	width: 200px; 
	height: 150px;
		
}
#ines{
	width: 200px; 
	height: 150px;
	
		
}
#susana{
	width: 200px; 
	height: 150px;	
}
#pascoa{
	width: 200px; 
	height: 150px;	
}
#marcelo{
	width: 200px; 
	height: 150px;	
}
#fotos{
	display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two equal columns */
    gap: 10px;
	padding-left: 300px;
	padding-top: 50px;
}
#wardrobe_img{
    margin-left: 300px;
    margin-top: 262px;
    position: fixed;

}